@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url("https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png");
    height: 25%;
    width: 100%;
    background-size: cover;
}